# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.pyc

# Compiled Static libraries
*.lai
*.la
*.a

data/*/*_proc/*
sampler
testoutput_0.csv

lda.out
lda.cpp_bckup
lda.cpp_bckup2
.lda.cpp.swp
